@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Carrito_Tarea_Michi.Models.Producto>

<br/>
<h2>Productos</h2>
@if (Model != null)
{
    <table class="table table-bordered table-striped">
        <thead> 
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@String.Format("{0:C}", item.Precio)</td>
                    <td>@Html.ActionLink("Agregar","AgregaCarrito","Carrito",new { Id=item.Id},null)</td>
                    
             </tr>
            }
            
            </tbody>
        </table>
     
 }